<html>
<head>
  <style type="text/css">
    @media print {
      body {
        width: 215.9mm;
      }
    }

    body, ul, li, div, p, h1 {
      margin: 0;
      padding: 0;
      font-family: Arial;
      box-sizing: border-box;      
    }

    body {
      font-size: 10pt;
      width: 215.9mm;    
      margin-left: 15 px;      
    }

    ul.etiquetas {
      list-style-type: none;
    }

    ul.etiquetas > li {
      width: 101.6mm;
      height: 25.4mm;
      padding: 1mm;
      position: relative;
      page-break-inside: avoid;
      display: inline-block;      
    }

    ul.etiquetas > li:nth-child(odd) { 
      margin-right: 4.6mm;
      margin-left: 4mm;
    }

    ul.etiquetas > li:nth-child(20n+1) {
      margin-top: 50px;
    }
  </style>
</head>
<body>
<ul class="etiquetas">
  {% for page in labels %}    
    {% for row in page %}        
      {% for label in row %}  
        <li>
          {% for line in label %}
            <p> {{ line }}</p>
          {% endfor %}        
        </li>      
      {% endfor %}        
    {% endfor %}    
  {% endfor %}
</div>
</body>
</html>