<html>
<head>
  <style>
    @page {
      margin-top: {{ definition.topMargin }}mm;
      margin-right: {{ definition.rightMargin }}mm;
      margin-bottom: {{ definition.bottomMargin }}mm;
      margin-left: {{ definition.leftMargin }}mm;
    }

    .wrapper {
      font-family: {{ definition.fontFace }} sans-serif;
      font-size: {{ definition.fontSize }}px;
      width: {{ definition.width }}mm;
      height: {{ definition.height }}mm;
    }

    .label {
      display: inline-block;
      width: {{ definition.labelWidth }}mm;
      height: {{ definition.labelHeight }}mm;
      overflow: hidden;
    }

    .label-container {
      overflow: hidden;
    }

    .page {
      page-break-after: always;
    }

    .line {
      margin: 0;
      text-align: {{ definition.textAlign }};
    }
  </style>
</head>
<body>
<div class="wrapper">
  {% for page in labels %}
    <div class="page">
      {% for row in page %}
        <div class="label-container">
          {% for label in row %}
            <div class="label">
              {% for line in label %}
                <p class="line">{{ line }}</p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
</body>
</html>